form {
    display: inline-grid;
}
  
.box-login {
    width: 25%;
    height: 55%;
    background: white ;
    border-radius: 5px;
    padding: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.box-create {
    width: 30%;
    height: 700px;
    background: white ;
    border-radius: 5px;
    padding: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.login-header {
    text-align: center;
    font-size: 25px;
    padding: 12px;
    border-bottom: 1px solid black;
    color: black;
}
  
.logo-google {
    padding-top: 20px;
    width: 120px;
}
  
.login-body {
    margin-top: 0.5em;
    padding: 0.5em;
}
  
.form-login {
    width: 100%;
}
  
.back {
    color: rgb(115, 115, 115);
    padding-top: 20px;
    opacity: 0.8;
}
  
.back:hover{
    opacity: 1;
    color: black;
    transition: all .5s ease-in-out;
}
  
.form-input {
    padding: 1em;
    border-radius: 5px;
    border: 1.5px solid black;
}
  
.form-label {
    color: black;
    padding: 0.5em;
    text-align: left;
    margin-top: 0.5em;
}
  
.gender {
    width: 100%;
    color: black;
    text-align: left;
    padding: 5px 30px 0px 5px;
}
  
.btn-login {
    width: 100%;
    background-color: grey;
    border: none;
    padding: 1em;
    border-radius: 50px;
    margin-top: 2em;
    color: white;
    font-size: 14px;
    opacity: 0.8;
}
  
.btn-login:hover{
    opacity: 1;
    color: black;
    transition: all .5s ease-in-out;
}
  
.login-body p {
    text-align: center; color: black;
    padding-top: 10px;
}